# Quarto
/_site/
/.quarto/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data
/data/
*.h5
*.pkl
*.pth
*.pt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
shapes224/
shapes.zip
